/**********************************
 Practica 0302
 Diseño de Interfaces WEB
 Desarrollo de Aplicaciones WEB
***********************************/

/**************
  CONTENIDOS

  $Reset
  $Etiquetas
  $Elementos
  $Media
***************/

/*---------------------
  $RESET
----------------------*/

* { margin: 0px; padding: 0px }

/*---------------------
  $ETIQUETAS
----------------------*/

body {
    background: #ddd;
}

h1 {
    font-family: "Arial", sans;
    margin: 10px;
}

/*---------------------
  $ELEMENTOS
----------------------*/

.menu {
	font-family: 'Exo 2', sans-serif;
	font-size: 1.1rem;
    line-height: 1.1rem;      /* altura de la linea = al tamaño de la fuente, par apoder 
                                 realizar los calculos y ajustar la posición del menu adapatativo */
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0.5rem 0 0.5rem;
    
    background: #eee;
    position: relative;
}

.menu--normal {
    position: static;
    text-align: center; 
}

.menu--adaptativo 
{
    display: none;
}

.menu__icono {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto 5px;
}

.menu__entrada {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
}

.menu__entrada__texto {
	text-decoration: none;
	color: #111;
}

.menu__entrada__texto:hover
{
	color: red;
}

.menu--desplegable {
    transition: left 1s;
    background: #eee;
}

/*---------------------
  $MEDIA
----------------------*/

@media all and (max-width: 780px) 
{
    .menu--adaptativo  {
        display: block !important;
        margin-left: 20px !important;
        top: 2.1rem;  /* 0.5 + 0.5 + 1.1 rem de menu */
    }
    
    .menu--normal {
        position: absolute;
        left: -200px;
    }
    
    .menu--desplegado {
        display: block !important;
        position: absolute;
        left: 0px;
    }
    
    .menu__entrada {
        display: block;
        margin: 5px auto 5px 5px;
        text-align: left;
        padding-right: 15px;
    }
    
    .menu__icono {
        width: 28px;
        height: 28px;
        display: inline;
        margin: 0 5px 5px;
        vertical-align: middle;
    }
}
